body {
  font-family: Arial, sans-serif;
  margin: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  color: grey;
}

.head{
  align-items: center;
  text-align: center;
  justify-content: center;
 
}


.hng{
  font-size:xx-large;
  
}


img{
  background-color: blue;
  width: 300px;
} 

img.profile-image {
  width: 2000px;  /* Adjust the width as needed */
  height: 600px;  /* Adjust the height as needed */
   /* Ensure the image covers the dimensions without distortion */
}


section{
  align-items: center;
  text-align: center;
  justify-content: center;
}


header {
  background-color: #afa84c;
  color: white;
  text-align: center;
  padding: 1rem;
}


main {
  flex: 1;
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  color: rgba(135, 178, 235, 0.932);
}

ul {
  
  list-style: none;
  padding: 0;
}


ul li a {
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 30 px;
  color: black;
  list-style: none;
  color: rgba(128, 128, 128, 0.705);
}

img {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 800px) {
  body {
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100px;
  }

  .head{
    align-items: center;
    text-align: center;
    justify-content: center;
  
  }
  
  .hng{
    font-size:xx-large;
    
  }
  
  section{
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  h2 {
    color: rgba(77, 185, 235, 0.932);
  }
}